html, body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.mCSB_container {
    margin-right: 0;
}

{
    outline: 1px solid red
}

h1, h2 {
    margin: 0;
    color: #ffffff;
    font-size: 3.6em;
    line-height: 1.6em;
    text-align: center;
    font-weight: 200;
}

h3 {
    margin: 0;
    color: #c8c8c8;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
    font-weight: 400;
}

h4 {
    margin: 0;
    color: #c8c8c8;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
    font-weight: 400;
}

a {
    color: #aeaeae;
}

p, i {
    color: #c8c8c8;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

header {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    background: #111111;
    overflow: hidden;
    -webkit-transition: .4s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: .3s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .3s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .3s ease-out;
    transition-delay: 0.5s;
z-index: 100;
}

#logo {
    position: absolute;
    float: left;
    min-height: 30px;
    width: 70px;
    margin: 1% 0 1% 4%;
    background: url(../img/logo.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    float: left;
    padding: 2% 15px;

}

header li a {
    text-decoration: none;

}

header li a:hover, header li a .nav_active {
    color: #fff;
}
header li  .nav_active {
    color: #fff;
}

.present {
    height: 800px;
    width: 100%;
}

.present .present-image {
    position: absolute;
    z-index: -100;
    width: 100%;
    max-width: 100%;
    height: 900px;
    background: url("../img/bg-1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.present h1 {
    padding-top: 300px;
    color: #ffffff;
}

.present p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.btn {
    display: inline-block;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2em;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #c8c8c8;
    color: #5B5B5B;
    text-decoration: none;
}

.btn > i {
    color: #ffffff;
}

.btn:hover > i {
    color: #5B5B5B;
}

.btn-center {
    width: 100%;
    text-align: center
}

.details {
    background: #232323;
    padding: 7% 0;
    margin: 0;
    width: 100%;
}

.details .details-container {
    padding: 0 5%;
}

.details section {
    float: left;
    width: 33%;
    padding: 5% 0 0 0;
}

.details .details-content {
    width: 70%;
}

.details .details-left {
    float: right;
}

.details .icon-container-left {
    float: right;
    text-align: right;
}

.details .details-right {
    float: left;
}

.details .icon-container-right {
    float: left;
    text-align: left;
}

.details .icon-container {
    width: 15%;
    padding: 10px 0 0 0;
}

.details .details-left > p, .details .details-left > h3 {
    text-align: right;
}

.details .details-right > p, .details .details-right > h3 {
    text-align: left;
}

.details i {
}

.details section ul li {
    clear: both;
    padding: 20px 0;
}

.details section .details-img {
    max-width: 250px;
    margin: auto;
}

.details section .details-img img {
    width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.explain {
    background: #161616;
    margin: 0;
    padding: 10% 0;
    width: 100%;
}

.explain .explain-container {
    padding: 0 5%;
}

/*.explain .explain-container {
/ / height : 80 %;
}*/

.explain section {
    float: left;
    width: 50%;
}

.explain section .explain-img {
    max-width: 350px;
    margin: auto;
}

.explain section .explain-img img {
    width: 100%;
}

.explain section ul li {
    clear: both;
    padding: 5% 0;
}

.explain .explain-left {
    float: left;
}

.explain .icon-container-left {
    float: left;
    text-align: left;
}

.explain .icon-container {
    width: 5%;
    padding: 1% 1% 0 0;
}

.explain section h2 {
    text-align: left;
}

.explain section p {
    text-align: left;
    margin: 0;

}

.describe {
    background: #232323;
    margin: 0;
    padding: 10% 0;
    width: 100%;
}

.describe .describe-container {
    padding: 0 5%;
}

/*.explain .explain-container {
/ / height : 80 %;
}*/

.describe section {
    float: left;
    width: 50%;
}

.describe section .describe-img {
    max-width: 350px;
    margin: auto;
}

.describe section .describe-img img {
    width: 100%;
}

.describe section h2, .describe section p {
    text-align: left;
    padding: 2% 0;
}

.description {
    background: #161616;
    width: 100%;
    padding: 10% 0;
}

.description .description-container {
    padding: 0 5%;
}

.description section {
    float: left;
    width: 50%;
}

.description section .video-container {
    width: 90%;
    margin: auto;
}

.video-wrap {
    height: auto;
}

.description section iframe {
    display: block;
    max-width: 100%;
}

.description section h2, .description section p {
    text-align: left;
    padding: 2% 0;
}

.feedbacks {
    width: 100%;
    height: 90%;
    background: url("../img/bg-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.overlay {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
}

.feedbacks .slider-container {
    padding: 10% 5%;

}

.feedbacks .slider-container .text-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.feedbacks .slider-container .text-container .slider-feedbacks {
    position: absolute;

}


.feedbacks .slider-container .text-container .slide {
    width: 65%;
    margin: auto;

}


.feedbacks .slider-container .text-container .slide h3, .slide h4 {
    text-align: center;
    color: #ffffff;
}

.feedbacks .slider-container .text-container .slide .white-line {
    border-top: 1px solid #ffffff;
    width: 35%;
    margin: auto;
}

.feedbacks .slider-container .text-container .slide p {
    text-align: center;
    color: #ffffff;
    padding: 2% 0;
}

.feedbacks .slider-container .text-container .slide img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.feedbacks .slider-container .slide-control {
    padding: 3% 0;
    width: 65%;
    margin: auto;
    text-align: center;

}

.feedbacks .slider-container .slide-control .control-item1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #869791;
    border-radius: 50%;
    margin: 0 5px;
}

.feedbacks .slider-container .slide-control .control-item1 {
    cursor: pointer;
}

.feedbacks .slider-container .slide-control .active {
    background: #ffffff;
}


.articles {
    background: #222222;
    width: 100%;
    padding: 10% 0;
}

.articles p {
    padding: 2% 0;
}

.articles .articles-container {
    padding: 0 5%;
}

.articles article {
    float: left;
    width: 33%;
}

.articles article p {
    text-align: center;
    padding: 1% 5%;
}

.articles article h3 {
    text-align: center;
    padding: 3%;
    color: #0874AB;
}

.articles .article-icon {
    width: 100%;
    margin: auto;
}

.articles article .article-icon i {
    display: block;
    text-align: center;
    font-size: 5em;
    color: #008DD5;
}

.screenshots {
    background: #161616;
    margin: 0;
    width: 100%;
    padding: 5% 0;
}

.screenshots .screenshots-container {
    padding: 0 5%;

}

.screenshots .screenshots-container .slider-container {
    padding-top: 5%;
    position: relative;
    height: 450px;

    overflow: hidden;
    border: 1px solid green;

}

.screenshots .slider-screenshots {

    position: absolute;
    clear: both;
    width: 100%;

}

.activeList {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
}

.offset-left {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.offset-right {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.animateList {
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    transition: transform 600ms;
}

.screenshots .slide {
    float: left;
    width: 25%;
}

.screenshots .slide .slide-item {
    padding: 5%;
}

.screenshots .slide .slide-item .item {
    border: 10px solid #232323;
    background: #232323;
    border-radius: 2%;
}

.screenshots .slide .slide-item img {
    width: 100%;
    border-radius: 2%;
}

.screenshots .screenshots-container .slide-control {
    padding: 3% 0;
    width: 100%;
    margin: auto;
    text-align: center;

}

.screenshots .slide-control .control-item1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #0B5276;
    border-radius: 50%;
    margin: 0 5px;
}

.screenshots .slide-control .active {
    background: #008ED6;
}

.b-preview_shown {
    display: block !important;
}

.screenshots-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.screenshots-preview .preview-control {
    position: relative;
    width: 100%;
    height: 100%;
}

.screenshots-preview .preview-control .control {
    position: absolute;
    top: 50%;
    width: 9%;
    height: 70%;
}

.screenshots-preview .preview-control .control-left {
    left: 0;
}

.screenshots-preview .preview-control .control-right {
    right: 0;
}

.screenshots-preview .preview-control .control .control-box {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.screenshots-preview .preview-control .control .control-box:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    -moz-transition: .2s ease;
    transition: .2s ease;
}

.screenshots-preview .preview-control .control .control-box:hover .arrow, .preview-control .control-close .close:hover {
    color: #ffffff;
    cursor: pointer;

}

.screenshots-preview .preview-control .control .control-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;

}

.screenshots-preview .preview-control .control .control-btn .arrow {
/ / display : block;
    color: #838383;
    font-size: 5em;
    font-weight: 300;
    text-align: center;

}

.screenshots-preview .preview-control .control .control-btn .arrow-left {
    left: 0;
}

.screenshots-preview .preview-control .control .control-btn .arrow-right {
    right: 0;
}

.preview-control .control-close {
    position: absolute;
    top: 2%;
    right: 2%;
}

.preview-control .control-close .close {
    color: #838383;
    font-size: 3em;
    font-weight: 300;
}

.screenshots-preview .preview-control .preview-img {
    /*height: 100%;
    width: 100%;
    background: url("../img/_3.jpg") no-repeat center center;
    -webkit-background-size: auto 80%;
    -moz-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80%;*/

    height: 100%;
    width: 100%;
    background: url("../img/_3.jpg") no-repeat center center;
    /* -webkit-background-size: auto 10%;
     -moz-background-size: auto 10%;
     -o-background-size: auto 10%;
     background-size: auto 10%;*/
    /*   transition:background-size 1s;
       transition-delay: 0.1s;*/

}

/*/////////*/
.subscribe {
    margin: 0;
    width: 100%;

}

.subscribe .subscribe-img {
    height: 100%;
    width: 100%;
    background: url("../img/bg-3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.subscribe .subscribe-img .subscribe-container {
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 10% 0;
}

.subscribe .subscribe-img .subscribe-container .subscribe-btn-space {
    margin: 1%;
}

.subscribe .subscribe-img .subscribe-container .subscribe-btn-topSpace {
    padding: 4% 0;
}

.subscribe .subscribe-img .subscribe-container .subscribe-h2-topSpace {
    padding: 6% 0 1% 0;
}

.enjoy-css {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 18px 30px 17px 30px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
/ / font : normal 16 px / normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    /* -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2) inset;
     box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;*/
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.message {
    background: #232323;
    margin: 0;
    padding: 9% 0 5% 0;
    width: 100%;
}

.message .message-container {
    width: 55%;
    margin: auto;

}

.message .message-container .row {
    clear: both;
    width: 100%;
    text-align: center;

}

.message .message-container .row .message-input {
    width: 100%;

}

.message .message-container .row .message-input input {
    padding: 17px 10px 17px 10px;
    margin: 4% 0;
    width: 100%;
}

.message .message-container .row input {
    padding: 17px 10px 17px 10px;
    margin: 2% 0;
    width: 100%;
}

.message .message-container .row textarea {
    margin: 2% 0;
    width: 95%;
    height: 100px;
}

.message .message-container .row .input-left {
    float: left;
    width: 45%;
}

.message .message-container .row .input-right {
    float: right;
    width: 45%;
}

.message .message-container .row {

}

.message-mod-text {
    color: #505050;
    background: #232323;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
    border-color: #111111;
}

.message .message-container .row input:focus, .message .message-container .row textarea:focus {
    color: #ffffff;
}

.message .message-container .row h3 {
/ / display : none;
    color: #A9A9A9;
    font-weight: 300;
    padding: 1% 0;
}

.message .message-container .row img {
    padding: 10% 0 2% 0;
    width: 17%;
}

.message .message-container .row ul {
    display: inline-block;
    clear: both;
    padding: 5% 0 1% 0;

}

.message .message-container .row ul li {
    float: left;
}

.message .message-container .row ul li div {
    padding: 0 30%;
    font-size: 1.8em;
}

.message .message-container .row ul li div i {
    -moz-opacity: 0.50;
    -khtml-opacity: 0.50;
    opacity: 0.50;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.message .message-container .row ul li div i:hover {
    color: #008ED6;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=1);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
    filter: alpha(opacity=1);
    opacity: 1;
}

footer {
    background: #232323;

}

footer .footer-container {
    width: 90%;
    margin: auto;
    border-top: 1px solid #000000;
}

footer .footer-container p {
    padding: 2% 0 3% 0;
    margin: 0;
    color: #c8c8c8;
    font-size: 0.9em;
    -moz-opacity: 0.50;
    -khtml-opacity: 0.50;
    opacity: 0.50;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .present {
        height: 550px;
    }

    body {
        color: red
    }
}

/*
@media screen and (max-width: 992px) {
    .present {
        height: 900px;
}
*/
